* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
body {
  margin: 0;
  font-family: "Lexend Deca", sans-serif;
  color: white;
  background-color: #333;
}

.text {
  margin: 20px;
}
.box {
  margin: 16px;
  width: 100px;
  height: 100px;
}
.uno {
  background-color: orange;
}
.dos {
  background-color: rgb(0, 255, 242);
  border: solid 5px purple;
}
.tres {
  background-color: purple;
  border-right: dashed 10px coral;
}
.cuatro {
  background-color: rgb(17, 119, 105);
  border-radius: 45px 10px 45px 10px;
}
.cinco {
  background-color: coral;
  border-radius: 0 50px 0 0;
  border-bottom: double 20px red;
}
.seis {
  background-color: limegreen;
  border-radius: 25px 45px 15px 90px;
  border-left: dotted 20px yellow;
}
